{% include "header.html" %}

<center>Team Members</center>
Past Members:<br />


{% for query in Past %}

{{ query.member_name }}</a><br />
<a href="{{query.facebook_link}}">{{ query.facebook_link }}</a><br/>
<a href="{{query.github_link}}">{{ query.github_link }}</a><br/>
<a href="{{query.twitter_link}}">{{ query.twitter_link }}</a><br/>
<a href="{{query.linkedin_link}}">{{ query.linkedin_link }}</a><br/>
{% if query.image %}
<img src='{{ query.image.url }}' />
{% endif %}



{% endfor %}

Current Members:<br />
{% for query in Current %}

{{ query.member_name }}</a><br />
<a href="{{query.facebook_link}}">{{ query.facebook_link }}</a><br/>
<a href="{{query.github_link}}">{{ query.github_link }}</a><br/>
<a href="{{query.twitter_link}}">{{ query.twitter_link }}</a><br/>
<a href="{{query.linkedin_link}}">{{ query.linkedin_link }}</a><br/>
{% if query.image %}
<img src='{{ query.image.url }}' />
{% endif %}


{% endfor %}

Mentors:<br />
{% for query in Mentor %}

{{ query.member_name }}</a><br />
<a href="{{query.facebook_link}}">{{ query.facebook_link }}</a><br/>
<a href="{{query.github_link}}">{{ query.github_link }}</a><br/>
<a href="{{query.twitter_link}}">{{ query.twitter_link }}</a><br/>
<a href="{{query.linkedin_link}}">{{ query.linkedin_link }}</a><br/>
{% if query.image %}
<img src='{{ query.image.url }}' />
{% endif %}

{% endfor %}


{% include "footer.html" %}
